<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<!-- <%= @board.display %> -->

<% @business.each do |business| %>
	<div id="cell">
		<%= business.id %><br>
		<%= business.name %><br>
		<% if business.picture %>
			<div id="business_photo">
				<%= image_tag(business.picture, size: '50x50') %>
			</div>
		<% end %>
		<%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
	<% #exit %>
<% end %>


<%= link_to 'Play', edit_game_path(@game) %> | 
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
