<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<% @business.each do |business| %>
	<% if business.game.id == @game.id %>	
		<div id="cell" style="background-image: url( <%= image_path(business.picture) %>)">
			<td>
				<tr><%= business.id %></tr>
				<tr><%= business.name %></tr>
				<div class="delete_button">
					<tr><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></tr>
				</div>
			</td>
		</div>
		<% #exit %>
	<% end %>
<% end %>


<%= link_to 'Play', edit_game_path(@game) %> | 
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
