<% if @businesses.count != 1 %>
	<p id="notice"><%= notice %></p>

	<%= content_tag(:div, content_tag(:h1, "Laissez Les Bons Temps Rouler!!!"), class: "game_title") %>
<% end %>




<% @businesses.each do |business| %>

	<% if @businesses.count == 1 %>
		<div class="winner_notice" onload="playWinAudio()">
			<h1>CONGRATULATIONS TO <br><br><br><br><div class="winner_frame animated bounce"><span class="winner_name"><%= business.name.upcase + "!!!" %></span></div></h1>
		</div>
	<% elsif business.game.id == @game.id && business.name != 'BLANK' %>	

		<div id="cell" onclick="window.requestAnimationFrame(confetti.start), playAudio()">
			<td>
				
				<tr><%= content_tag(:div, content_tag(:p, business.id), class: "business_id") %></tr>


				<% if business.picture != "" %>
					<tr><%= content_tag(:div, image_tag(business.picture, style: 'height:auto;width:75px;padding-top:20px', class: "cell_image"), class: "cell_image_case", style: 'height:75px;') %></tr>
				<% elsif business.name == "BLANK" %>
					<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-hat.png", size: "75x75", class: "cell_image_blank"), class: "cell_image_case") %></tr>
				<% elsif business.id.even? %>
					<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-mask.png", size: "75x75", class: "cell_image"), class: "cell_image_case") %></tr>
				<% elsif business.id.odd? %>
					<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-jester.png", size: "75x75", class: "cell_image"), class: "cell_image_case") %></tr>
			 	<% else %>
			 	<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-flower.png", size: "75x75", class: "cell_image"), class: "cell_image_case") %></tr>
				<% end %>

				<% if business.name == "BLANK" %>
					<tr><%= content_tag(:div, content_tag(:p, business.name), class: "cell_blank") %></tr>
				<% else %>
					<tr><%= content_tag(:div, content_tag(:p, business.name), class: "cell_name") %>
				<% end %>

				<div class="delete_button">
					<% if business.name == "BLANK" %>
						<tr><%= link_to '', business %></tr>
					<% else %>
						<tr><%= link_to '', business, method: :delete %></tr>
					<% end %>
				</div>
			</td>
		</div>
	<% end %>
<% end %><br><br><br><br>

<audio id="myAudio">
	<source src="<%= audio_path("458398__breviceps__balloon-pop-christmas-cracker-confetti-cannon.wav") %>" type="audio/wav">
</audio>

<audio id="myWinAudio">
	<source src="<%= audio_path("484267__inspectorj__party-pack-horn-coil-01-long-01.wav") %>" type="audio/wav">
</audio>


<%= link_to 'Play', edit_game_path(@game) %> | 
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
