<p id="notice"><%= notice %></p>

<%= content_tag(:div, content_tag(:h1, "Laissez Les Bons Temps Rouler!!!"), class: "game_title") %>

<% @businesses.each do |business| %>
	<% if business.game.id == @game.id %>	

		<div id="cell" onclick="window.requestAnimationFrame(confetti.start), playAudio()">
			<td>
				
				<tr><%= content_tag(:div, content_tag(:p, business.id), class: "business_id") %></tr>


				<% if business.picture != "" %>
					<tr><%= content_tag(:div, image_tag(business.picture, size: "75x75", class: "cell_image"), class: "cell_image_case") %></tr>
				<% elsif business.name == "BLANK" %>
					<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-hat.png", size: "75x75", class: "cell_image_blank"), class: "cell_image_case") %></tr>
				<% elsif business.id.even? %>
					<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-mask.png", size: "75x75", class: "cell_image"), class: "cell_image_case") %></tr>
				<% elsif business.id.odd? %>
					<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-jester.png", size: "75x75", class: "cell_image"), class: "cell_image_case") %></tr>
			 	<% else %>
			 	<tr><%= content_tag(:div, image_tag("labelle_business_logos/masquerade-flower.png", size: "75x75", class: "cell_image"), class: "cell_image_case") %></tr>
				<% end %>

				<% if business.name == "BLANK" %>
					<tr><%= content_tag(:div, content_tag(:p, business.name), class: "cell_blank") %></tr>
				<% else %>
					<tr><%= content_tag(:div, content_tag(:p, business.name), class: "cell_name") %>
				<% end %>

				<div class="delete_button">
					<% if business.name == "BLANK" %>
						<tr><%= link_to '', business %></tr>
					<% else %>
						<tr><%= link_to '', business, method: :delete %></tr>
					<% end %>
				</div>
			</td>
		</div>
	<% end %>
<% end %>

<div class=".falling--confetti">

	<audio id="myAudio">
	  <source src="<%= audio_path("458398__breviceps__balloon-pop-christmas-cracker-confetti-cannon.wav") %>" type="audio/wav">
	  Your browser does not support the audio element.
	</audio>

	<button onclick="playAudio()" type="button">Play Audio</button>

</div>


<%= link_to 'Play', edit_game_path(@game) %> | 
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
