<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<!-- <%= @board.display %> -->

<% 14.times do %>
	<% 15.times do %>
		<div id="cell">
			<p>TEST</p>
		</div>
	<% end %>
	<br>
<% end %>

<%= link_to 'Play', edit_game_path(@game) %> | 
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
