<!DOCTYPE html>
<html>
  <head>
    <title>MardiGrasGame2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <script src="confetti.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Emilys+Candy&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="filter">
        <%= yield %>
      </div>
    </div>

    <script type="text/javascript">
      
      var x = document.getElementById("myAudio"); 
      var y = document.getElementById("myWinAudio");

      function playAudio() { 
        x.play(); 
      }

      function playWinAudio() {
        y.play();
      }

    </script>
  </body>
</html>
